@import "../variables";
header{
    background-color: #175092;
    width: 100%;
    box-shadow: 10px 10px 10px #0072D4;
    nav{
        display: flex;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 85%;
            align-items: center;
            flex-wrap: nowrap;
            a{
                text-decoration: none;
                width: fit-content;
                li{
                    list-style: none;
                    text-align: center;
                    color: white;
                    font-size: 1.25rem;
                    font-family: 'Ubuntu', sans-serif;
                }
            }
        }
        a{
            width: 15%;
            
            
            img{
                height: 3.5vw;
                padding: 5% 0% 5% 5%;
            }
        }
        
    }
}